.admin-page {
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url("C:\Users\youss\OneDrive\Attachments\Desktop\ZSC WEB APP PROJECT\BACKEND\frontend\public\images\119Years.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 580px;
    width: 97%; 
  }
  
  
 
  .admin-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .admin-actions button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #e32636; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-actions button:hover {
    background-color: #c41e31; 
  }
  
  .admin-actions button:active {
    transform: scale(0.98);
  }
  