.home-section {
    text-align: center;
    padding: 20px;
    background-image: url("C:\Users\youss\OneDrive\Attachments\Desktop\ZSC WEB APP PROJECT\BACKEND\frontend\public\images\Keep going.jpeg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 97%; 
}

h1 {
    color: #c8102e; 
    font-size: 36px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.home-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
