/* General styles for the navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c8102e; /* Zamalek SC red color */
  color: white;
  padding: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling for the buttons on the left */
nav button {
  background-color: white;
  color: #c8102e;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px;
}

nav button:hover {
  background-color: #a10f25; /* Darker red */
  color: white;
}


.nav-center {
  text-align: center;
  flex: 1;
}

.nav-center h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  color :white
}

.nav-center h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 1px;
}







