

.User-page {
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url("C:\Users\youss\OneDrive\Attachments\Desktop\ZSC WEB APP PROJECT\BACKEND\frontend\public\images\Fans.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 97%; 
  }
  
  .User-page h1 {
    color: red; 
    font-size: 3.5em;
    margin-bottom: 10px;
  }
  
  
  .User-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .User-actions button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #e32636;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .User-actions button:hover {
    background-color: #c41e31; 
  }
  
  .User-actions button:active {
    transform: scale(0.98);
  }